<div>
  <h1>Parents Kids</h1>
  <%= link_to 'Sort Kids', "/parents/#{params[:parent_id]}/childrens?sort=name" %>

  <%= link_to 'Create Child', "/parents/#{params[:parent_id]}/childrens/new" %>
   <% @kids.each do |child| %>
   <section class="kid">
    <ul class="child-<%= child.id %>">
        <li>Name: <%= child.name %> - <%= link_to 'Edit', "/childrens/#{child.id}/edit" %></li>
        <li>Age: <%= child.age %></li>
    </ul>
    </section>
  <% end %>
</div>