<div>
  <h1>Children</h1>
  <div class="key-word-search">
    <%= form_with url: childrens_path, method: :get do |f| %>
      <%= f.label :keyword %>
      <%= f.text_field :keyword %>

      <%= f.submit "Search" %>
    <% end %>

  </div>

  <% @kids.each do |child| %>
  -------------------------------------
  <ul class="child-<%= child.id %>">
      <li>Name: <%= child.name %> - <%= link_to 'Edit', "/childrens/#{child.id}/edit" %></li>
      <li>Age: <%= child.age %></li>
  </ul>
  <% end %>
</div>