<div>
  <h1>Parents</h1>
  <%= link_to 'New Parent', '/parents/new' %>
  <% @parents.each do |parent| %>
    <section class="parent-<%= parent.id %>">
      <ul>
        <li><%= parent.name %> - <%= Time.parse(parent.created_at.to_s.gsub('UTC', '')) %> - <%= link_to 'Edit', "/parents/#{parent.id}/edit" %> </li>
      </ul>
      <%= link_to 'Delete', "/parents/#{parent.id}/", method: :delete %>
    </section>
  <% end %>
</div>