<div>
  <h1>Parent: <%= @parent.id %></h1>

  <div class="parent-attrs">
    <ul>
      <li>Name: <%= @parent.name %></li>
      <li>Age: <%= @parent.age %></li>
      <li>Married: <%= @parent.married %></li>
      <li>Children Count: <%= @parent.children.length %></li>
    </ul>
  </div>
</div>